name: update jtcores

on:
  schedule:
  - cron:  "*/20 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: install detox
      run: sudo apt-get install detox

    - uses: actions/checkout@v2
      with:
        ref: develop
  
    - name: update jtcores
      run: |
        set -euo pipefail
        git config --global user.email "theypsilon@gmail.com"
        git config --global user.name "The CI/CD Bot"
        ./.github/update_jtcores.sh . --push
      env:
        DB_ID: jtcores
        DB_URL: https://raw.githubusercontent.com/jotego/jtcores_mister/main/jtbindb.json.zip
        BASE_FILES_URL: https://raw.githubusercontent.com/jotego/jtcores_mister/%s/
        LATEST_ZIP_URL: https://github.com/jotego/jtcores_mister/archive/refs/heads/jtbin.zip
